<footer>
    <hr class="footer-divider">
    <ul>
        <li class="footer-copyright">
            <span>&copy; 2015 - Tim DeFreitas</span></li>
        <li class="footer-link"><a href="mailto:defreitas.tim@gmail.com">
            <img class="icon" src="images/mail_icon.svg">
            <span>defreitas.tim@gmail.com</span></a>       
        </li>
        <li class="footer-link"><a href="https://github.com/tmdefreitas">
            <img class="icon" src="images/github_icon.svg">
            <span>github.com/tmdefreitas</span></a></li>
        <li class="footer-link"><a href="https://twitter.com/tmdefreitas">
            <img class="icon" src="images/twitter_icon.svg">
            <span>@tmdefreitas</span></a></li>
    </ul>
</footer>